@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 255, 255, 255;
  --background-start-rgb: 13, 17, 23;
  --background-end-rgb: 8, 10, 14;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
    to bottom,
    rgb(var(--background-start-rgb)),
    rgb(var(--background-end-rgb))
  );
  min-height: 100vh;
}

.gradient-text {
  @apply text-transparent bg-clip-text bg-gradient-to-r from-blue-400 to-purple-500;
}

.bg-primary-600 {
  @apply bg-blue-600;
}

.bg-primary-700 {
  @apply bg-blue-700;
}

.bg-primary-100 {
  @apply bg-blue-100;
}

.bg-secondary-100 {
  @apply bg-purple-100;
}

.from-primary-600 {
  @apply from-blue-600;
}

.to-primary-800 {
  @apply to-blue-800;
}
